.blog{
	.grid-item {
	  	width: 100%;
	  	float: left;
	  	margin-bottom: 5px;
	  	@include breakpoint($screen-xs-min){
			width: 50%;
		}
		@include breakpoint($screen-md-min){
			width: 33.33%;
		}
		>div{
			margin:5px;
			width:calc(100% - 10px);
			border: 2px solid #e6e6e6;
			.details{
				padding:20px 10px;
				h2{
					margin-top:0;
					font-size: 1.7rem;
    				font-weight: 300;
				}
			}
			.date{
				padding:10px;
				background-color:$gray-light;
			}
		}
	}
}