.about-us{
	.featured-image{
		text-align: right;
	    display: flex;
	    justify-content: flex-end;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: 0 center;
	}
	.contact-section{
		display: flex;
		align-items: center;
		flex-direction: column;
		@include breakpoint($screen-sm){
			flex-direction: row;
		}
		>div{
			@include span(12);
			@include breakpoint($screen-sm){
				@include span(1 of 2 0);
			}
		}
		.map{
			.lg-map{
				@media screen and (max-width: 480px) {
					height: 200px !important;
				}
			}
			.lg-map-info{
				padding:20px 0;
				text-align:center;
				img{
					margin-bottom:15px;
					max-width:170px;
				}
			}
		}
		.contact{
			margin-top:3rem;
			@include breakpoint($screen-sm){
				margin-top:0;
			}
			a{
				text-transform:uppercase;
			}
			img{
				max-width: 250px;
    			margin-bottom: 50px;
			}
			.hours{
				margin-top: 50px;
				h2{
					font-size: 1.2rem;
				}
				ul{
					padding: 0;
				    margin: 0;
				    list-style: none;
				    max-width: 400px;
	    			margin: auto auto;
				    li{
				    	@include span(1 of 2 0);
				    	padding: 2.5px 25px;
    					text-align: left;
				    }
				}
			}
		}
	}
}

.form-wrapper{
	width:100%;
	max-width:450px;
	text-align: left;
	padding:20px 40px;
	background-color:rgba(255, 255, 255, 0.9);
	@include breakpoint($screen-sm){
		padding:80px 40px;
	}
	h2{
		font-weight:200;
	}
	.gform_body{
		margin:0;
		input{
			width:100% !important;
			padding:10px !important;
		}
		label{
			display:none;
		}
	}
}