.features{
	.split-content{
		.half-copy{
			ul{
				@extend .checkmark;
			}
			h2{
				font-size:1.5rem;
			}
			.charge{
				margin-top:10px;
				.single-charge{
					display:flex;
					justify-content:space-between;
					margin-bottom:10px;
					.description-left{
						width:120px;
						text-align:center;
						background-color:$gray-light;
						padding:10px;
						.dollar-amount{
							font-size: 1.2rem;
    						font-weight: 400;
						}
					}
					.description-right{
						width: calc(100% - 130px);
						background-color:$gray-light;
						padding:10px 20px;
					}
				}
			}
		}
	}
}