.home{
	.site-content{
		width:100%;
		max-width:100%;
		margin-left:0;
		margin-right:0;
		.content-area{
			width:100%;
			margin:0;
			.k-feature-item{
				position:relative;
				#home-feature-item{
					.feature_box{
						left: 5%;
						position:absolute;
					    font-size: 40px;
					    text-align: center;
					    padding: 40px 30px;
					    border: 2px solid #ababab;
					    top: 50%;
					    transform: translateY(-50%);
					    opacity:0;
					    transition:opacity 1s ease-in;
					    &.visible{
					    	opacity:1;
					    }
					    @media screen and (max-width: 700px) {
							display:none !important;
					    }
					    @include breakpoint($screen-sm){
							padding: 50px 30px;
							font-size: 50px;
						}
					    @include breakpoint(1150px){
							left: 11%;
						}
						@include breakpoint($screen-lg){
							font-size:60px;
							padding:60px 40px;
						}
					    span{
					    	color:$blue;
					    	font-weight:400;
					    }
					    .cta-wrapper{
						    position: absolute;
						    left: 50%;
						    bottom: 0;
						    -ms-transform: translate(-50%, 50%);
						    transform: translate(-50%, 50%);
						    display: -ms-flexbox;
						    display: table;
						    background-color: #fff;
						    box-sizing: content-box;
						    padding:0 20px;
							.cta{
							    @extend .cta;
							    background-color: #000;
							    display: block;
    							color: #fff !important;
						    }
					    }
					}
					.scroll-down{
						position: absolute;
					    bottom: 40px;
					    left: 50%;
					    transform: translate(-50%,0);
					    border-radius: 50%;
					    overflow: hidden;
					    max-width: 50px;
					    animation-name: feature_animation;
					    animation-duration: 5s;
					    animation-iteration-count: infinite;
					    opacity:0;
					    transition:opacity 1s ease-in;
					    display:none;
					    @include breakpoint($screen-sm){
							display:block;
					    }
					    &.visible{
					    	opacity:1;
					    }
					    img{
					    	cursor:pointer;
					    }
					}
				}
			}

			.instagram{
				background-color:black;
				overflow: hidden;
					h2{
						font-size: 25px;
					    text-align: center;
					    color: #fff;
					    font-weight:300;
					    margin: 0;
    					padding: 30px 0;
					    @include breakpoint($screen-xs){
							font-size: 30px;
						}
				    svg{
					    width: 118px;
					    vertical-align: text-bottom;
					    margin: 0 8px;
					    margin:auto auto;
					    display:block;
					    margin: 8px auto;
					    @include breakpoint($screen-xs){
							display:inline-block;
							margin: 0 auto -6px auto;
							width: 145px;
						}
				    }
				    span{
				    	color:$blue;
				    }
				}
			}

			.instagram-feed{
				#sb_instagram{
					background-color:transparent !important;
					max-width: initial !important;
					#sbi_images{
						display:flex;
						flex-wrap:wrap;
						.sbi_item{
							width: span(1 of 2 0);
							@include breakpoint($screen-xs){
								width: span(1 of 3 0);
							}
							@include breakpoint($screen-sm){
								width: span(1 of 5 0);
								&:nth-child(6){
									display: none;
								}
							}
							@include breakpoint($screen-lg){
								width: span(1 of 6 0);
								&:nth-child(6){
									display: block;
								}
							}
							.sbi_photo_wrap{
								overflow:hidden;
								.sbi_photo{
									height:auto !important;
									background-image:none !important;
									img{
										display:block !important;
										transform:scale(1.07);
									}
								}
							}
						}
					}
				}
			}

			.mailchimp-form{
				display:none;
				@include breakpoint($screen-xs){
					display:block;
				}
				@include breakpoint(900px){
					padding-left:15px;
					padding-right:15px;
				}
				#mc_embed_signup{
					margin-top:20px;
					h2, #mce-responses{
						display:none;
					}
					#mc_embed_signup_scroll{
						display:flex;
						flex-direction:column;
						flex-wrap:wrap;
						align-items:center;
						@include breakpoint(950px){
							flex-direction:row;
							flex-wrap:nowrap;
							justify-content:center;	
						}
						>div{
							padding: 0 5px;
						}
						>div{
							min-height:0;
							padding-bottom:15px;
							//First Name
							&:nth-child(2){
								width: span(12);
								@include container(450px);
							}
							//Last Name
							&:nth-child(3){
								width: span(12);
								@include container(450px);
							}
							//Email
							&:nth-child(4){
								width: span(12);
								@include container(450px);
							}
							//Submit Button
							&:last-child{
								width: span(110px);
								padding:0;
							}
						}
						@include breakpoint(950px){
							>div{
								padding:0;
								margin:0 5px !important;
								//First Name
								&:nth-child(2){
									width: span(250px);
								}
								//Last Name
								&:nth-child(3){
									width:span(250px);
								}
								//Email
								&:nth-child(4){
									width: 100%;
								}
								//Submit Button
								&:last-child{
									width: span(110px);
								}
							}
						}
					}
				}
			}
		}
	}
}

@keyframes feature_animation {
  0%{
	transform: translate(-50%,0);
  }
  8%{
	transform: translate(-50%,0);
  }
  16%{
	transform: translate(-50%,-30px);
  }
  20%{
	transform: translate(-50%,0);
  }
  24%{
	transform: translate(-50%,-15px);
  }
  32%{
	transform: translate(-50%,0);
  }
  40%{
	transform: translate(-50%,0);
  }
  40%, 100% {
    transform: translate(-50%,0);
  }
}


.bg-discover{
	overflow: hidden;

	.container{
		// @include myoutline(green);
	}

	.db-body{
		// @include myoutline(red);
		background-color: #FFF;
		padding: 2.3rem; 

		@include breakpoint($screen-sm-min){
			@include span(5 of 12 inside no-gutters);
		}
 
		@include breakpoint($screen-md-min){
			@include span(4 of 12 inside no-gutters);
		}

		// Customize last word of H1. See lg-scripts for selection.
		h1{
			line-height: 1.4;
			font-weight: 300;
		}

		.last{
			color: $brand-alt;
			font-weight: 600;
		}

	}

	.db-grid{
			// @include myoutline(red); 

			@include breakpoint($screen-sm-min){
				margin-top: 6rem;
				margin-bottom:6rem;
				@include span(7 of 12 inside no-gutters);
			}

			@include breakpoint($screen-md-min){
				margin-top: 5rem;
				@include span(8 of 12 inside no-gutters);
			}
	}


} 