.methods{
	.split-content{
		.half-copy{
			h2{
				margin-bottom: 10px;
			}
			h3{
				margin-bottom: 5px;
			}
		}
		.cta{
			margin-top:20px;
		}
	}
}

.concern{
	.treatment{
		margin-top: 25px;
		ul{
			list-style: none;
			padding:0;
			margin:0;
			li{
				padding-bottom: 8px;
				&:last-child{
					padding-bottom: 0;
				}
			}
		}
	}
}

.single-method{
	ul{
		list-style: none;
	}
}