body{
	font-weight: $base-font-weight;
}

.btn, .btn-link{
	font-weight: $base-font-weight;
}
.site-info{
	text-align: center;
	
	@include breakpoint($screen-sm-min){
		text-align: left;
	}
}

.site-longevity{
	text-align: center;

	@include breakpoint($screen-sm-min){
		text-align: right;
	}
}


// Navigation Stuff
.nav-footer{
	
	.nav-title{
		border-bottom: solid 1px $brand-primary;
	}

	ul{
		margin: 0;
		padding: 0;
		@extend .nav;
		@extend .nav-pills;
		@extend .nav-stacked;

		.current_page_item{
			@extend .active;
		}
	}
}


// Address Card
.address-card{
	background-color: transparent;
	// border-width: 0;
}

// Footer Blog Feed
.blog-feed{
	.panel-body{
		color: $text-color;
	}
}

// Social Media
.lg-social-media{
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block; 
    padding-left: 5px; 
    padding-right: 5px; 
  }
} 

// Site Logo
.custom-logo-link{
	width:100%;
	display:block;
	img, svg{
		display:block;
		width:100%;
	}
}

.fa-envelope-o{
	color:$blue;
	font-size:18px;
	margin-right:10px;
}

.phone-icon{
	img{
		width: 100%;
    	max-width: 17px;
    	margin-right:8px;
	}
}

.sm-button{
	&,&:visited{
		padding: 5px 20px;
	    background-color: $blue;
	    border:2px solid $blue !important;
	    color: #fff;
	    text-decoration: none !important;
	    border:0;
	    box-shadow:none;
	}
	&:hover{
		background-color:#fff;
		color:$blue;
	}
}

.featured-image{
	position:relative;
}

.internal-top-banner{
	position:relative;
	@include breakpoint($screen-sm-min){
		flex-direction:row;
		height:350px;
	}
	.feature-image{
		position:relative;
		width: 100%;
		min-width:0;
		height:100px;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:100%;
		@include breakpoint($screen-xs-min){
			height:200px;
		}
		@include breakpoint($screen-sm-min){
			width: 100%;
			height:100%;
			background-size:cover;
		}
	}
	.title-section{
		width:100%;
		display: flex;
    	justify-content: center;
    	flex-direction:column;
    	padding:20px;
    	background-color: rgba(255, 255, 255, 0.9);
    	position:absolute;
    	height:100%;
    	right:0;
    	top:0;
		// sm Breakpoint
		@include breakpoint($screen-sm-min){
			width: 500px;
			height:100%;
			padding:50px;
		}
    	h2{
    		position: relative;
    		font-weight:300;
    		font-size: 20px;
    		margin:0;
    		margin-bottom:15px;
    		@include breakpoint($screen-sm-min){
				font-size:36px;
				margin-bottom:30px;
			}

			&:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: -14px;
				width: 3rem;
				height: 4px;
				background-color: $brand-alt;

			}
    	}
    	p{
    		font-size:1.4rem;
    		color:$blue;
    		font-family: $headings-font-family;
    	}
	}
}

.checkmark{
	list-style:none;
	margin:10px 0;
	li{
		background-image: url(/wp-content/themes/wp-web-skin-method/images/checkmark.png);
	    background-repeat: no-repeat;
	    padding-left: 30px;
	    background-size: 20px;
	    padding-bottom: 5px;
	    background-position: 0 2px;
	}
}

.cta{
    font-size: 1rem;
    padding: 6px 10px !important;
    min-width: 120px;
    text-align: center;
    color: $gray;
    display: inline-block;
    border: 1px solid $gray;
    background-position: 1% 50%;
    background: linear-gradient(270deg,$gray,$gray,rgba(34,34,34,0),rgba(34,34,34,0));
    background-size: 300% 300%;
    transition: all .5s ease-out;
    &:hover{
		color:#fff !important;
		text-decoration:none;
		background-position: 99% 50%;
    }
    &:visited{
    	color:inherit;
    }
}

.cta-lg{
	@extend .cta;
	padding: 10px 15px !important;
}

.bold{
	font-weight:600;
}

.lg-image-comparison{
	img{
		width: 100%;
		display: block;
	}
}

.single-product{
	.split-content{
		.half-image{
			justify-content: center;
			img{
				width: auto;
				height: fit-content;
			}
		}
		.half-copy{
			h2{
				font-size: 1.6rem;
			}
		}
	}
}

.after-label, .before-label{
	padding: 0 20px;
}