html{
	font-size: $font-size-base;
	// XS Breakpoint
	@include breakpoint($screen-sm-min){
		font-size: $font-size-small;
	}
	// sm Breakpoint
	@include breakpoint($screen-md-min){
		font-size: $font-size-large;
	}
}

body{
	font-size: inherit !important;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-variant-ligatures: no-common-ligatures;  
}

h1{
	font-size:1.9rem;
	@include breakpoint($screen-sm-min){
		font-size: 2.3rem;
	}
}
h2{
	font-size: 1.8rem;
	@include breakpoint($screen-sm-min){
		font-size: 2rem;
	}
}