//Variables
$kc-image-width: 50%;
$kc-copy-width: 50%;

//Half Copy
$kc-half-copy-horizontal-padding: 5%;
$kc-half-copy-vertical-padding: 2rem;

//Half Image
$max-height-tablet: 350px;


//Font 
$kc-h2-size: 2.2rem;
$kc-h2-font-weight: normal;

$kc-h3-size: 1.2rem;
$kc-h3-font-weight: 500;

$kc-li-size: 1rem;
$kc-li-font-weight: normal;

$kc-a-size: .9rem;
$kc-a-font-weight:normal;

/* website split content style */
.split-content {
    display: flex;
    width:100%;
    &.align-top{
        align-items: flex-start;
    }
    .half-image {
        width: $kc-image-width;
        display: flex;
        position: relative;
        @media screen and (max-width: $screen-sm) {
            max-height:$max-height-tablet;
            overflow:hidden;
            align-items:center;
        }
        >img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .half-copy {
        width: $kc-copy-width;
        display: flex;
        flex-direction: column;
        padding: $kc-half-copy-vertical-padding $kc-half-copy-horizontal-padding;
	    text-align: left;
	    max-width: 1920px;
	    margin: 12px 0;
        text-align: left;
        p {
	        text-align: left;
	    }
	    h2 {
	        text-align: left;
            font-size: $kc-h2-size;
            font-weight:$kc-h2-font-weight;
	    }
	    h3{
	    	font-size:$kc-h3-size;
            margin-top:9px !important;
            font-weight:$kc-h3-font-weight;
	    }
	    ul,ol {
	        padding-left: 20px;
	        text-align: left;
            padding:0;
	        li {
	            margin-bottom: .3rem;
	            font-size: $kc-li-size;
                font-weight:$kc-li-font-weight;
	        }
	    }
        a{
            font-size:$kc-a-size;
            font-weight:$kc-a-font-weight;
        }
    }
    .twentytwenty-wrapper{
        width:100%;
    }
}

.reverse {
    flex-direction: row-reverse;
}


@media screen and (max-width: $screen-sm) {
    .split-content {
        flex-direction: column;
        .half-copy {
            padding: 15px 0;
            p,
            h2,h3,
            img,>div,ul,ol {
                padding: 0 5%;
            }
            ul,ol{
                margin:10px 0;
            }
        }
        .half-copy,
        .half-image {
            width: 100%;
        }
    }
}
/* end */

.block{
	padding: 6rem 0;
    text-align:center;
	@media screen and (max-width: $screen-sm) {
        padding: 3rem 15px;
        &.split-content{
            padding:0;
        }
	}
    hr{
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
    }
    h1{
        margin: 0;
        margin-bottom: 2rem;
    }
    h2, h3{
        margin-top:0;
    }
    &.intro-copy{
        max-width:960px;
        margin:auto auto;   
    }
}

.left-block{
    @extend .block;
    text-align:left;
}

.no-pb{
    padding-bottom:0;
}

.no-pt{
    padding-top:0;
}