.container{
	@include container();
}
 
.container-fluid{
	@include container(100%);
}


// Site Container 
.site{
	@include container(100%);
}

// Site Header
.site-header{
	
	.site-branding{
		width: $logo-width-xs;

		// XS Breakpoint
		@include breakpoint($screen-xs-min){
			width: $logo-width-sm;
		}
		
		// sm Breakpoint
		@include breakpoint($screen-sm-min){
			width: $logo-width-md;
		}

	}
	
}

// Site Content - No Side bar
.site-content{
	clear: both;
	margin-top: $header-height-xs;
	padding: 0;

	@include breakpoint($screen-xs-min){ margin-top: $header-height-sm;padding: 0 gutter(); }
	@include breakpoint($screen-sm-min){ margin-top: $header-height-md;padding:0; }

	.content-area{
		@include span(12);
	}

}

// Site Content with sidebar
.page-template-tpl-container-sidebar .site-content{
	

	.content-area{
		@include span(12);

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(7);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(8);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(9);
		}

	}

	// Site Content - Side bar A.K.A ~ widget area.
	.widget-area{
		@include span(12); 

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(5);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(4);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(3);
		}

	}

}


// Site Content full Width - No Side Bar
.page-template-tpl-full .site-content{
	@include container(100%);
	clear: both;
	margin-top: $header-height-xs;

	@include breakpoint($screen-xs-min){ margin-top: $header-height-sm; }
	@include breakpoint($screen-sm-min){ margin-top: $header-height-md; }

	.content-area{
		@include span(12);
	}

}

// Site Content with sidebar
.page-template-tpl-full-sidebar .site-content{
	@include container(100%);
	clear: both;
	margin-top: $header-height-xs;

	@include breakpoint($screen-xs-min){ margin-top: $header-height-sm; }
	@include breakpoint($screen-sm-min){ margin-top: $header-height-md; }	

	.content-area{
		@include span(12);

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(7);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(8);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(9);
		}

	}

	// Site Content - Side bar A.K.A ~ widget area.
	.widget-area{
		@include span(12); 

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(5);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(4);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(3);
		}

	}

}


// Site Footer
.site-footer{
	// @include myoutline(red);

	.footer-utility{
		width: 100%;
		display: block;
		text-align: center;
		width: 100%;
		
		.footer-logo{
			margin-left: auto;
			margin-right: auto;
		}

		@include breakpoint($screen-sm-min){
			width: 400px;
		}
	}

	.nav-footer{
		width: span(415px);
	}
	
	.blog-feed{
		width: span(450px);

		@media screen and (min-width: $screen-sm) and (max-width: $screen-lg) {
		  display: none;
		}
		
		@include breakpoint($screen-lg){
			display: block;
		}
	}

	.site-info{
		// @include myoutline(yellow);
		@include span(12);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

	.site-longevity{
		// @include myoutline(yellow);
		@include span(12);		

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

}

