/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $link-color;
}

a:visited {
	color: $link-color;
}

a:hover, a:focus, a:active {
	color: $link-hover-color;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
} 