.single-blog{
	.thumbnail{
		border:0;
		max-height: 300px;
		overflow:hidden;

		img{
			width:100%;
		}
	}
	.blog-title{
		margin: 30px 0 15px 0;
		.publish-date{
			font-family: $font-family-base;
			margin-right:20px;
			font-weight:300;
			font-size:1.1rem;
		}
		.title{
			font-weight:500;
			font-size: 1.7rem;
			font-variant: small-caps;
		}
		.author{
			font-size: 1rem;
			color: $brand-primary;
		}
	}
	.blog-nav{
		margin-top:60px;
		.next{
			float:right;
		}
	}
}

.widget-area.blog-sidebar{
		section{
			margin-bottom:30px;
			h2{
				font-size:1.2rem;
				margin-bottom: 10px;
				padding:0;
				font-weight: normal;
			}
			ul{
				padding:0;
				margin:0;
				list-style:none;
				li{
					padding:1.5px;
					a{
						color:$gray;
						&:hover{
							text-decoration:none;
						}
					}
				}
			}
			&.tags{
				ul{
					display:flex;
					flex-wrap:wrap;
					li{
						a{
							padding:5px 10px;
							border:1px solid $gray;
							display:inline-block;
						}
					}
				}
			}
		}
	}