.single-method{
	.split-content{
		.half-copy{
			ul{
				@extend .checkmark;
			}
		}
	}
	.charge-list{
		background-color: $gray-light;
	    max-width: 400px;
	    padding: 10px 20px;
	    margin: auto auto;
	    margin-bottom: 5px;
	    margin-top: 20px;
	    font-weight: 400;
	    font-size: 1.1rem;
	}
	.video{
		padding-left:0;
		padding-right:0;
		iframe{
			width:100%;
			height:250px;
			@include breakpoint($screen-sm-min){
				height:500px;
			}
		}
	}
	.boxes{
		display:flex;
		flex-wrap:wrap;
		margin: 50px 0 80px 0;
		>div{
		    width: 33.33%;
		    padding: 2rem 10px;
		    &:nth-child(odd){
		    	background-color: $gray-light;
		    }
		    &:nth-child(even){
				background-color: #fff;
		    }
		}
	}
}