.cta-checkers{ 

	.checkers-cont{
		display: flex;
		flex-wrap: wrap;
		margin: 2.5px;
	    @include breakpoint($screen-sm-min){
		    margin-left: -2.5px; 
	    }
	}
 
	.checker{
		
		// layout
		flex: 1 0 span(6);
		margin: 2.5px;
		display: flex;
		position: relative;
		overflow: hidden;

		@include breakpoint($screen-xs-min){
			flex: 1 0 span(6);
		}

		@include breakpoint($screen-md-min){
			flex: 1 0 span(4);
		}

		// Design
		background-color: $gray;
		color: #fff;
		text-decoration: none;

		// alternate checker design
		&:nth-child(2n){
			background-color: rgba(#fff, 0.9);
			color: $brand-alt;
		}  
			
		&:nth-child(3n){
			order: 1;
		}

		@include breakpoint($screen-xs-min){
			&:nth-child(3n){
				order: 1;
			}
		}

		@include breakpoint($screen-md-min){
			&:nth-child(3n){
				order: initial;
			}
		}

		span{
		    position: absolute;
		    right: 10px;
		    text-align: center;
		    bottom: 10px;
		    margin: 0;
		    font-size: 2.2rem;
		}

		.overlay{
			
			.img-cont{ 

			}

			img{  
				filter: grayscale(100%);
				&:hover, &:focus{ filter: grayscale(0%); }
			}
		}
	}
}