footer{
	>div:first-child{
		display: flex;
    	justify-content:center;
    	background: url(/wp-content/themes/wp-web-skin-method/images/footer-water.jpg);
	    background-position: 0 50%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    flex-wrap:wrap;
	    @include breakpoint(900px){
			justify-content:space-between;
	    }

	    @include breakpoint($screen-sm){
			flex-wrap: nowrap;
		}
	    >div{
	    	display:flex;
	    	align-items:flex-start;
	    	padding: 20px;
	    	justify-content:center;
	    	@include breakpoint($screen-sm){
				padding: 35px 40px;
			}
			@include breakpoint($screen-lg){
				justify-content:flex-start;
			}
	    }
	}
	// Navigation Stuff
	.nav-footer{
		padding:20px 10px;
		.nav-title{
			border-bottom: solid 1px $brand-primary;
		}

		ul{
			margin: 0;
			padding: 0;
			@extend .nav;
			@extend .nav-pills;
			@extend .nav-stacked;

			.current_page_item{
				@extend .active;
			}
		}
	}
	.footer-utility{
		background-color: $gray;

		.cta-lg{
			border: 1px solid #fff;
			color: #fff;
			margin-top: 15px;
		}
	}

	// Address Card
	.address-card{
		background-color: transparent;
		// border-width: 0;
		.footer-logo{
			margin-bottom:15px;
			max-width: 200px;
		}
		a,div,span{
			color:#fff;
		}
		address{
			margin:0;
		}
		.card-map-email{
			margin-top:5px;
			display:inline-block;
		}
	}

	.site-longevity{
		text-align: center;
		font-size:14px;
		a{
			color:#fff;
		}

		@include breakpoint($screen-sm-min){
			text-align: right;
		}
	}

	.site-info{
		text-align: center;
		font-size: 14px;
    	text-transform: uppercase;
    	a{
    		color: #fff;
    	}		
		@include breakpoint($screen-sm-min){
			text-align: left;
		}
	}

	.custom-logo-link{
		g,path,rec{
			fill:#fff;
		}
	}

	.footer-bottom{
		padding:10px 0;
	}

	.blog-feed{
		padding:20px 10px;
		h2{
			margin-top:0;
		}
		#sb_instagram{
			background-color:transparent !important;
			#sbi_images{
				display:flex;
				.sbi_item{
					width:25%;
					padding:5px !important;
					.sbi_photo_wrap{
						overflow:hidden;
						.sbi_photo{
							height:auto !important;
							background-image:none !important;
							img{
								display:block !important;
								transform:scale(1.07);
							}
						}
					}
				}
			}
		}
		h2{
			font-size: 15px;
		    text-align: center;
		    color: #fff;
		    font-weight:300;
		    @include breakpoint($screen-xs){
				font-size: 20px;
			}
		    img{
		    	width: 88px;
			    vertical-align: text-bottom;
			    margin: 0 2px;
			    margin-bottom: -6px;
			    @include breakpoint($screen-xs){
					width: 110px;
				}
		    }
		    span{
		    	color:$blue;
		    }
		}
	}
}
