.site-header{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px $header-gutter;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $header-background-color;
    z-index:999;
    box-shadow: 1px 1px 7px #797979;
    &:before, &:after{
    	display:none;
    }
    .navbar{
    	margin:0;
    }
    .navbar-nav{
        margin:0;
        @include breakpoint($screen-sm-min){
            display: flex;
            align-items: center;
        }
    }
    .mobile-header-phone{
        @include breakpoint($screen-sm-min){
            display:none;
        }
        @include breakpoint(980px){
            display:block;
        }
        .card-map-phone{    
            padding: 10px 15px;
            margin:0;
            display:inline-block;
            @include breakpoint($screen-sm-min){
                padding: 10px 8px;
                margin-left:7px;
                border:1px solid $gray;
            }
            .phone-icon{
                img{
                    max-width:18px;
                    margin-right:4px;
                }
            }
            a{
                font-size:14px !important;
                color: $gray;
            }
        }
    }
}