#mc_embed_signup{
	background-color:transparent !important;
	font-family: $font-family-base;
	form{
		padding:0 !important;
		h2{
			color:#fff;
			font-family: $headings-font-family;
			font-weight:300;
			margin-top:0;
		}
	}
	#mc-embedded-subscribe{
		background-color: #8DA4A8 !important;
		border:2px solid $blue;
	    margin: 0;
	    padding: 8px 20px;
	    line-height: 0;
	    border-radius: 0;
	    &:hover{
			background-color:#fff !important;
			color:$blue;
	    }
	}
}

.nav-footer{
	.mc-field-group{
		min-height:43px !important;
	}
	#mc_embed_signup .mc-field-group input{
		padding:3px 0 !important;
	}
}