.navbar{
	min-height:0;
	border:0;
	#main-navbar{
		padding:0;
		position: fixed;
	    width: 100vw;
	    left: 0;
	    top: $header-height-xs;
	    background-color: $main-nav-dropdown-background-mobile;
	    border-top:0;
	    border-bottom:1px solid $gray;
	    overflow-y:visible;
	    // XS Breakpoint
		@include breakpoint($screen-xs-min){
			top: $header-height-sm;
			border-bottom:0;
		}
		
		// sm Breakpoint
		@include breakpoint($screen-sm-min){
			top: $header-height-md;
			background-color: #fff;
			overflow-y:hidden;
		}
		@include breakpoint($grid-float-breakpoint){
			position: relative;
		    width: auto;
		    left: auto;
		    top: auto;
		}
		.navbar-nav{
			padding:20px 0;
			@include breakpoint($screen-sm-min){ padding:0; }
			@media only screen and (max-width: $screen-sm) {
				li{
					.cta-lg{
						text-align: left;
					}
				}
				&.shadow{
					padding:0;
					>li{
						>a, span{
							visibility:hidden;
						}
					}
				}
			}
			.submenu{
				padding:0;
				float:none;
				position:fixed;
				width: 100vw;
				left:0;
				top: $header-height-xs;
				background-color:rgba(0, 0, 0, 0.9);
				display:flex;
				flex-direction:column;
				opacity:0;
				z-index:-1;
				pointer-events:none;
				max-height: calc( 100vh - #{$header-height-xs} );
				overflow-y:scroll;

				@include breakpoint($screen-xs-min){ top: $header-height-sm;max-height: calc(100vh - #{$header-height-sm}); }
				@include breakpoint($screen-sm-min){ top: $header-height-md;max-height: calc(100vh - #{$header-height-md});overflow-y:hidden; }
				
				.submenu-wrap{
					padding: 30px 15px;
					@include breakpoint($screen-xs-min){padding:50px 15px;}
					@include breakpoint($screen-sm-min){padding:100px 15px;}
				}

				.nav-titles{
					display: flex;
				    align-items: center;
				    justify-content: space-between;
				    margin:0 0 20px 0;
				    @include breakpoint($screen-xs-min){margin:0 30px 20px 30px;}
					h2{
						font-size:1.3rem;
						color:$blue;
						font-weight:300;
						margin:0;
					}
					a{
						cursor:pointer;
						@include breakpoint($screen-sm-min){display:none;}
					}
				}
				.dropdown-menu{
					left:auto;
					top:auto;
					width:100%;
					position:relative;
					padding: 0;
				    margin: 0;
				    border:0;
				    background-color: transparent;
				    border-radius: 0 0 4px 4px;
				    flex-wrap:wrap;
				    display:flex;
				    transform:translateY(10px);
				    transition:all .6s ease-in-out;
				    opacity:0;
					>li{
						width: 100%;
						box-sizing:border-box;
						margin:0 0 10px 0;
				    	@include breakpoint($screen-xs-min){margin:0 30px 10px 30px;width:calc(50% - 60px);}
						@include breakpoint(1000px){ width: calc(33.33% - 60px); }
						>a{
							padding: 6px 0;
							color:#fff;
							border-bottom:1px solid #fff;
							font-weight:300;
							background-image: url(/wp-content/themes/wp-web-skin-method/images/arrow-right.png);
						    padding-right: 20px;
						    background-repeat: no-repeat;
						    background-position: 99% 10px;
						    background-size: 12px;
						    width:100%;
						    transition: width .4s ease-out;
						    background-color:transparent !important;
						    @include breakpoint($screen-sm-min){width: calc( 100% - 15px );}
							&:hover{
								background-color:initial;
								color:$blue;
								width:100%;
							}
						}
					}
				}
			}

			
			.open{
				.submenu{
					z-index:1;
					opacity:1;
					pointer-events:initial;
					.dropdown-menu{
						transform:translateY(0);
						opacity:1;
						li{
							transform: translateY(0);
							transition: all 1s ease-out;
						}
					}
				}
			}
			.current-menu-ancestor{
				>a{
					font-weight:600;
					background:transparent;
				}
			}
			>li{
				border-bottom: $main-nav-dropdown-border-mobile;
				&:first-child{
					border-top: $main-nav-dropdown-border-mobile;
					@include breakpoint($grid-float-breakpoint){
						border:0;
					}
				}
				@include breakpoint($grid-float-breakpoint){
					border:0;
				}
				a{
					font-size: $main-nav-font-size;
					color: $main-nav-font-color-mobile;
					text-transform: uppercase;
					@include breakpoint($screen-sm){
						color: $main-nav-font-color-tablet;
					}
				}
			}
			.active{
				>a{
					font-weight:600;
					background:transparent;
				}
			}
		}
	}
	
	.navbar-toggle{
		margin: 0;
    	border: 0;
	}
}



