
// layout

	.products-cta{

		.type-products{
			@include span(12); 
			margin: gutter() 0;

			
			@include breakpoint($screen-xs-min){
				@include span(6 of 12 .25);
			}

			@include breakpoint($screen-sm-min){
				@include span(4 of 12 .25);
			}
		}
	}

	// Single Post Page - A.K.A bio page
	.single-products{

		.site-main{
			@include container();
			margin-top: $header-height-md;
		}	

		.page-header{
			@include span(12);
		}

		.type-products{
			@include span(12);
		}

	 }


// Design
.products-cta{
	
	.fimage-cont{
		max-width: 200px;
    	margin: auto auto;
    	@include breakpoint($screen-sm-min){
			max-height: 380px;
		}
		overflow: hidden; 

		img{
			max-width: 100%; 
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}
 
	.entry-title{
		a{ color: $gray-base; }
	}

	.entry-content{
		margin: 0;
		margin-top: 15px;
	}

	.entry-title{
		// @include myoutline(red);
	    min-height: 2.8rem;
	    font-size: 1rem;
	    line-height: 1.4rem;
	    margin-top: 1.2rem;
	}

	.cta{
		@include fa-sudo('false', 'f129', 1.0);
	    font-weight: 300;
	    position: relative;
	    padding: 9px 24px;
	    font-size: .9rem;
	    color: $gray;

		&:after{
		    border-radius: 100%;
		    border: solid 1px $gray-base;
		    padding: 2px 7px;
		    margin-left: 12px
		}

		&:hover{
			&:after{
				border: solid 2px #fff;
			}
		}
	}

}  