
// layout

	.ourteam-cta{
		@include container();

		.type-ourteam{
			margin-top: 1rem; 
			@include span(6);

			@include breakpoint($screen-sm-min){
				@include span(4 of 12 .25);
				margin-top:3rem;
			}
		}
	}

	// Single Post Page - A.K.A bio page
	.single-ourteam{

		.site-main{
			@include container();
			margin-top: $header-height-md;
		}	

		.page-header{
			@include span(12);
		}

		.type-ourteam{
			@include span(12);
		}

	 }


// Design
.ourteam-cta{
	
	.fimage-cont{
		max-height: 380px;
		overflow: hidden; 

		img{ 
			max-width: 100%; 
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}
 
	.entry-title{
		a{ 
			color: $gray-base; 
			text-decoration: none;
		}
	}

	.entry-content{
	    margin: 0;
	    padding: 1.5rem 0 0 0;
	    h3{
	    	color: black;
		    margin-bottom: .3rem;
		    font-size: 1.1rem;
		    @include breakpoint($screen-xs-min){
				font-size:1.3rem;
			}
		    a{
		    	color:$gray-base;
		    }
	    }
	    p{
	    	font-size:.9rem;
	    	@include breakpoint($screen-xs-min){
				font-size:1.1rem;
			}
	    }
	}

} 

.type-ourdoctor{
	.half-image{
		width: 33.33%;

		.fimage-cont{
			width: 100%;
		}

		@media only screen and (max-width: $screen-sm-min) {
			width: 100%;
			max-height: 500px;

			.fimage-cont{
				max-height: 500px;
			}
		}
	}

	.half-copy{
		width: 66.66%;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;

		@media only screen and (max-width: $screen-sm-min) {
			padding-top: gutter();
			padding-bottom: gutter();
			padding-left: 0;
			padding-right: 0;
			width: 100%;

			p, div, h3{
				padding-left: 0;
				padding-right: 0;
			}
		}

		h3{
			a{
				font-size: 1.3rem;
				color: inherit;
			}
		}
	}
}