.vendor-cont{
	// @include myoutline(red);
	min-height      : 100px;
	display         : flex;
	flex-direction  : column;
	justify-content : center;
	width           : span(12 no-gutters);
	margin-left     : auto;
	margin-right    : auto;

	@include breakpoint($screen-sm-min){
		width           : span(10);
		min-height      : 100px;
	}
}

.vendor-logos{
  overflow: hidden;
  padding: 13px;
  
  a{
	// @include myoutline(red);
    display: block;
    margin: 0 32px;
    position: relative;
    min-height: 50px;
    overflow: hidden;
	@include breakpoint($screen-sm-min){
	    min-height: 100px;
	    margin: 0 24px;
	}
  }
  
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    filter: grayscale(100%);
    &:hover, &:focus{ filter: grayscale(0%); }
  }
}